[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu121"
verify_ssl = true
name = "downloadpytorch"

[packages]
typer = "*"
gensim = "*"
scikit-learn = "*"
pandas = "*"
xgboost = "*"
tqdm = "*"
torch = {version = "*", index = "downloadpytorch"}
loguru = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
infomair_a1 = "python3 1a/src/main.py"
