[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "*"
gensim = "*"
scikit-learn = "*"
pandas = "*"
xgboost = "*"
tqdm = "*"
loguru = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
infomair = "python3 1a/src/main.py"
